<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lastproject.mycity">
    <!-- Using by Network Provider Wifi or Data phone -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Using By Network Provider and Gps Provider -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Using for make internet requests (necessary for Glide) -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Using for make internet requests -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- Using for Call Number -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Used to store files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- GOOGLE Maps APi Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsApiKey}" />

        <!-- 0 => ENTRY Activity : AUTHENTICATION -->
        <activity
            android:name=".controllers.activities.AuthenticationActivity"
            android:theme="@style/AppThemeFirebase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 0.5 => TOWN HALL SELECTION Activity -->
        <activity android:name=".controllers.activities.TownHallSelectionActivity"
            android:label="Town Hall Selection"
            android:parentActivityName=".controllers.activities.AuthenticationActivity">

        </activity>

        <!-- 1 => TOWN HALL Activity -->
        <activity
            android:name=".controllers.activities.TownHallActivity"
            android:label="Town Hall"
            android:parentActivityName=".controllers.activities.AuthenticationActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.activities.AuthenticationActivity" />
        </activity>

        <!-- 3 => EVENTS Activity -->
        <!-- 3.1 => A child of the Events Activity -->
        <!-- EVENT Activity -->
        <activity
            android:name=".controllers.activities.EventActivity"
            android:label="Event"
            android:parentActivityName=".controllers.activities.TownHallActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.activities.TownHallActivity" />
        </activity>

        <!-- FULL SCREEN IMAGE Activity -->
        <activity
            android:name=".controllers.activities.FullScreenImageActivity"
            android:label="Full Screen Image"
            android:parentActivityName=".controllers.activities.FullScreenImageActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.activities.EventActivity" />
        </activity>

        <!-- WEB VIEW Activity -->
        <!-- A child of the Welcome Activity -->
        <activity
            android:name=".controllers.activities.WebViewActivity"
            android:label="Town Hall Web Site"
            android:parentActivityName=".controllers.activities.TownHallActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.activities.TownHallActivity" />
        </activity>

        <!-- MAP Activity -->
        <activity android:name=".controllers.activities.MapActivity"
            android:label="Map"
            android:parentActivityName=".controllers.activities.TownHallActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.activities.TownHallActivity" />

        </activity>

        <!-- FOR SAVE FILES -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lastproject.mycity.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>